*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Courier New", Courier, monospace;
}


/*  --------------- Header --------------- */
header{
    background-color: #F7EEE5;
    height: 100px; /* Define a altura do header */
    width: 100%; /* Define a largura do header para ocupar toda a largura da página */
}

.cabecalho{
    display: flex; /* Define o layout como flexbox */
    justify-content: space-around; /* Distribui os itens com espaço ao redor */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    height: 100%; /* Define a altura do container para ocupar toda a altura do header */
}


